<ul class="up-list">
    <li>
        <div class="up-avatar">
            <img src="../images/avatar.jpg">
        </div>
        <p class="up-name">youngbye</p>
    </li>
    <li>
        <div class="up-avatar">
            <img src="../images/avatar.jpg">
        </div>
        <p class="up-name">youngbye</p>
    </li>
    <li>
        <div class="up-avatar">
            <img src="../images/avatar.jpg">
        </div>
        <p class="up-name">youngbye</p>
    </li>
    <li>
        <div class="up-avatar">
            <img src="../images/avatar.jpg">
        </div>
        <p class="up-name">youngbye</p>
    </li>
    <li>
        <div class="up-avatar">
            <img src="../images/avatar.jpg">
        </div>
        <p class="up-name">youngbye</p>
    </li>
</ul>
