<div class="section-v">
    <h3 class="section-title">
        <span class="icon video"></span>
        <a href="javascript:void(0)">投稿视频</a>
        <a href="javascript:void(0)" class="upload">
            上传视频
            <input type="file">
        </a>
    </h3>
    <div class="v-name">
    </div>
    <div class="upload-name">
        <input type="text" placeholder="请输入视频名称">
    </div>
    <div class="upload-btn">
        <div class="btn">
            上传
        </div>
    </div>
</div>
<div class="section-v-list">
    <ul class="v-list">
        <% for(var i = 0; i < my_video.length; i++) { %>
        <li>
            <a href="#video/:<%= my_video[i].id %>">
                <img src="<%= my_video[i].src %>">
                <p class="v-title"><%= my_video[i].title %></p>
            </a>
        </li>
        <% } %>
    </ul>
</div>
