<div class="container">
    <div class="user-nav">
        <a href="#personal-center/my-video/" class="video">我的视频</a>
        <a href="#personal-center/msg/" class="msg">通知</a>
        <a href="#personal-center/follow/" class="follow">关注</a>
        <a href="#personal-center/collection/" class="collection">收藏</a>
    </div>
    <div class="user-body">
        <div class="user-l" id="user-status">
            <div class="section-v">
                <h3 class="section-title">
                    <span class="icon video"></span>
                    <a href="javascript:void(0)">投稿视频</a>
                    <a href="javascript:void(0)" class="upload">
                        上传视频
                        <input type="file">
                    </a>
                </h3>

            </div>
            <div class="section-v-list">
                <ul class="v-list">
                    <li>
                        <a href="">
                            <img src="../images/test.jpg">
                            <p class="v-title">【吐槽】；案例啦啦方式</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/test.jpg">
                            <p class="v-title">【吐槽】；案例啦啦方式</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/test.jpg">
                            <p class="v-title">【吐槽】；案例啦啦方式</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../images/test.jpg">
                            <p class="v-title">【吐槽】；案例啦啦方式</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user-r">
            <div class="section-user">
                <div class="info">
                    <div class="avatar">
                        <img src="../images/avatar.jpg">
                        <input type="file">
                    </div>
                    <div class="details">
                        <div class="item">
                            <span class="icon name"></span>
                            <span class="text">Alsotang</span>
                        </div>
                        <div class="item">
                            <span class="icon reg"></span>
                            <span class="text">注册于 2015-10-10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
