<div class="container">
    <div id="login">
        <div class="header">
            <div class="lin">
                <img src="../images/t1.png" alt="">
            </div>
        </div>
        <div class="login-body">
            <div class="input-item">
                <input type="text" placeholder="用户名" id="username">
            </div>
            <div class="input-item">
                <input type="text" placeholder="昵称" id="nickname">
            </div>
            <div class="input-item">
                <input type="password" placeholder="密码" id="password">
            </div>
            <div class="input-item">
                <div class="btn-item">
                    <a href="javascript:void(0)" class="reg-btn btn" id="reg-btn">注册</a>
                </div>
            </div>
            <div class="input-item">
                <a class="reg-already" href="#login/">已经注册，去登陆</a>
            </div>
        </div>
    </div>
</div>
