<div class="container">
    <div class="v-details">
        <div class="info">
            <h1 class="v-title">【吐槽】吐槽吐槽吐槽</h1>
            <div class="v-title-info">
                <div class="v-title-line">
                    <i class="b-icon-play"></i>
                    <span>234</span>
                </div>
                <div class="v-title-line">
                    <i class="b-icon-cm"></i>
                    <span>234</span>
                </div>
                <div class="v-title-line">
                    <i class="b-icon-show"></i>
                    <span>收藏</span><span>123</span>
                </div>
            </div>
        </div>
        <div class="upinfo">
            <div class="up-avatar">
                <a href="javascript:void(0)">
                    <img src="../images/test.jpg" alt="">
                </a>
            </div>
            <div class="up-details">
                <div class="up-name">
                    youngbye
                </div>
                <div class="up-follow">
                    <div class="follow-btn">
                        关注
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="v-wrapper">
        <div id="danmup"></div>
    </div>
</div>
