@import "reset";
@import "compass/css3";
body {
    background-color: #fcdffc;
}
.clear {
    clear: both;
}

.mtb {
    margin-top: 10px;
    margin-bottom: 15px;
}

#thumbnail {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url(../image/special-offer-02.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#thumbnail.share {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url(../image/special-offer-04.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


#share-btn {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    .share-btn-item {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
        .btn {
            width: 80%;
            margin: 0 auto;
            padding: 15px;
            background-color: #fff;
            color: #ee1e4f;
            text-align: center;
            @include border-radius(8px);
            font-size: 18px;
            font-weight: bold;
        }
    }
    .qrcode-wrapper{
        width: 100%;
        text-align: center;
        img {
            width: 200px;
        }
    }
    .getmore {
        clear: both;
        font-size: 19px;
        color: #ee1e4f;
        text-align: center;
        em {
            font-size: 21px;
            text-decoration: underline;
        }
    }
}

#share-btn.get-one {
    padding-top: 50px;
}

#get-coupon {
    position: relative;
    width: 100%;
    height: 270px;
    .user-background {
        position: absolute;
        width: 100%;
        height: 270px;
        top: -55px;
        background-image: url(../image/special-offer-03.png);
        background-size: 339px 270px;
        background-position: center center;
        background-repeat: no-repeat;
        .user-info {
            position: absolute;
            padding: 0 70px;
            height: 70px;
            top: 50%;
            margin-top: -30px;
            .user-avatar {
                position: relative;
                float: left;
                width: 70px;
                height: 70px;
                white-space: nowrap;
                text-align: center;
                span {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    
                }
                img {
                    vertical-align: middle;
                    @include border-radius(8px);
                    max-height: 65px;
                    max-width: 65px;
                }
                
            }
            .user-desc {
                position: relative;
                overflow: hidden;
                padding: 10px 0 4px 8px;
                p {
                    color: #fff;
                    line-height: 16px;
                }
                p:nth-child(1) {
                    font-size: 16px;
                }
                p:nth-child(2) {
                    font-size: 13px;
                }
            }
        }
        .coupon-btn-wrapper {
            position: absolute;
            width: 100%;
            bottom: 32px;
            .coupon-btn {
                width: 140px;
                margin: 0 auto;
                padding: 10px;
                background-color: #f4e823;
                border: 1px solid #fff;
                @include border-radius(8px);
                color: #ff0737;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

.share {
    text-align: center;
}

.special-offer-rule {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    .rule-title {
        text-align: center;
        color: #df002c;
        img {
            @include transition(all 0.4s ease);
        }
        
    }
    .rule-title.active {
        img {
            @include transform(rotate(180deg));
        }
    }
    .rules.active {
        display: block;
    }
    .rules {
        position: relative;
        padding: 20px;
        line-height: 20px;
        display: none;
        p {
            margin-top: 10px;
            span {
                font-size: 15px;
            }
        }
        p:nth-child(1){
            margin-top: 0;
        }
    }
    
}
.shareToWx {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    .container{
        margin-top: 80px;
        .img {
            width: 80%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
}

.shareToWx.active {
    display: block;
}

@media screen and (min-width: 400px) {
    #thumbnail {
        position: relative;
        width: 100%;
        height: 270px;
        background-image: url(../image/special-offer-02.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .coupon-title {
            position: absolute;
            width: 310px;
            height: 171px;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -155px;
            background-image: url(../image/special-offer-02.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    
    #get-coupon {
        position: relative;
        width: 100%;
        height: 290px;
        .user-background {
            position: absolute;
            width: 100%;
            height: 290px;
            top: -55px;
            background-image: url(../image/special-offer-03.png);
            background-size: 402px 320px;
            background-position: center center;
            background-repeat: no-repeat;
            .user-info {
                position: absolute;
                padding: 0 70px;
                height: 70px;
                top: 50%;
                margin-top: -30px;
                .user-avatar {
                    position: relative;
                    float: left;
                    width: 70px;
                    height: 70px;
                    white-space: nowrap;
                    text-align: center;
                    span {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        
                    }
                    img {
                        vertical-align: middle;
                        @include border-radius(8px);
                        max-height: 65px;
                        max-width: 65px;
                    }
                    
                }
                .user-desc {
                    position: relative;
                    overflow: hidden;
                    padding: 11px 0 4px 8px;
                    p {
                        color: #fff;
                        line-height: 16px;
                    }
                    p:nth-child(1) {
                        font-size: 16px;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    #thumbnail {
        position: relative;
        width: 100%;
        height: 205px;
        background-image: url(../image/special-offer-02.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .coupon-title {
            position: absolute;
            width: 256px;
            height: 142px;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -128px;
            background-image: url(../image/special-offer-02.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
   
    #get-coupon {
        position: relative;
        width: 100%;
        height: 270px;
        .user-background {
            position: absolute;
            width: 100%;
            height: 270px;
            top: -55px;
            background-image: url(../image/special-offer-03.png);
            background-size: 339px 270px;
            background-position: center center;
            background-repeat: no-repeat;
            .user-info {
                position: absolute;
                padding: 0 40px;
                height: 70px;
                top: 50%;
                margin-top: -30px;
                .user-avatar {
                    position: relative;
                    float: left;
                    width: 70px;
                    height: 70px;
                    white-space: nowrap;
                    text-align: center;
                    span {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        
                    }
                    img {
                        vertical-align: middle;
                        @include border-radius(8px);
                        max-height: 65px;
                        max-width: 65px;
                    }
                    
                }
                .user-desc {
                    position: relative;
                    overflow: hidden;
                    padding: 4px 0 4px 8px;
                    p {
                        color: #fff;
                        line-height: 16px;
                    }
                    p:nth-child(1) {
                        font-size: 16px;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}